.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.memo-texts{
    display: flex;
    flex-direction: column;
}

.player-score{
    color: black;
}

.player-turn{
    font-weight: bold;
    color: black;
}

@media (max-width: 768px) {
    .game-container {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .game-container {
        padding: 0.5rem;
    }
}
